<div class="w-75 mx-auto mt-5">
  <h1>Template Driven Form</h1>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="form-group">
      <label for="username">username :</label>
      <input  type="text" id="username" class="form-control mb-3" name="username" #username="ngModel" ngModel  required >
      <div class="alert alert-danger" *ngIf="username.errors?.required && username.touched">username is required</div>
      
  </div><!--/form-group-->


  <div class="d-flex justify-content-between">
    <div class="form-group name">
      <label for="firstname">firstname :</label>
      <input  type="text" id="firstname" class="form-control mb-3" name="firstname" #firstname="ngModel" ngModel required >
      <div class="alert alert-danger" *ngIf="firstname.errors?.required && firstname.touched">firstname is required</div>
  </div><!--/form-group-->
  
  <div class="form-group name">
    <label for="lastname">lastname :</label>
    <input  type="text" id="lastname" class="form-control mb-3" name="lastname" #lastname="ngModel" ngModel  >
    
  </div><!--/form-group-->

  </div><!--/d-flex-->



<div class="form-group">
  <label for="email">email :</label>
  <input  type="text" id="email" class="form-control mb-3" name="email" #email="ngModel" ngModel required >
  <div class="alert alert-danger" *ngIf="email.errors?.required && email.touched">email is required</div>
</div><!--/form-group-->

<div class="form-group">
  <label for="password">password :</label>
  <input  type="text" id="password" class="form-control mb-3" name="password" #password="ngModel" ngModel  required>
  <div class="alert alert-danger" *ngIf="password.errors?.required && password.touched">password is required</div>
</div><!--/form-group-->

<div class="form-group">
  <label for="age">age :</label>
  <input  type="text" id="age" class="form-control mb-3" name="age" #age="ngModel" ngModel required >
  <div class="alert alert-danger" *ngIf="age.errors?.required && age.touched">age is required</div>
</div><!--/form-group-->
<div class="form-group" >
  <label for="country">Country:</label>
<select id="country" class="form-control" name="country" #country="ngModel" ngModel required  >
<option *ngFor="let country of countries" [value]="country.value">{{ country.name }}</option>
</select>
<div class="alert alert-danger" *ngIf="country.errors?.required && country.touched">country is required</div>
</div><!--/form-group-->


<div class="form-group mt-4">
  <label for="photo">Photo (PNG, JPG, or JPEG required):</label>
  <input type="file" id="photo" accept="image/png,image/jpeg,image/jpg" name="photo" #photo="ngModel" ngModel required >
  <div class="alert alert-danger" *ngIf="photo.errors?.required && photo.touched">photo is required</div>
</div><!--/form-group-->
<div class="form-group">
  <p class="mt-4">Select a gender:</p>

  <div>
      <input type="radio"  value="male" name="gender" #gender="ngModel" ngModel required id="genderMale"> Male
      <input type="radio"  value="female" name="gender" #gender="ngModel" ngModel required id="genderFemale"> Female
  </div>
  <div class="alert alert-danger" *ngIf="gender.errors?.required && gender.touched">gender is required</div>
  
</div><!--/form-group-->

<button [disabled]="f.invalid"  type="submit" class="btn btn-success w-100 m-3">Submit</button>
 
    
  </form>

 
</div>

